@import '~antd/dist/antd.css';

.container {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 100vh;
    .form {
        width: 400px;
        margin: auto;
        .login-form-button {
            width: 100%;
        }
    }
}

.site-layout {
    min-height: 100vh;
}

.site-header {
    background: #fff;
    border-bottom: 5px solid #E9ECF0;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.site-content {
    background: #fff;
    min-height: 100%;
}

// Antd style overrides
:root {
    --clr-primary: #36507E
}

.ant-btn, .ant-input, .ant-input-affix-wrapper, .ant-card-body, .ant-card {
    border-radius: 10px !important;
}

.ant-btn-circle {
    border-radius: 50% !important;
}

.ant-btn:hover, .ant-btn:focus {
    color: var(--clr-primary);
    background: #fff;
    border-color: var(--clr-primary);
}

.ant-btn-primary {
    color: #fff;
    background: var(--clr-primary);
    border-color: var(--clr-primary);
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: var(--clr-primary);
}

.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
    border-color: var(--clr-primary);
    box-shadow: none;
}

.ant-input:focus, .ant-input-focused, .ant-input:hover {
    border-color: var(--clr-primary);
    box-shadow:none;
}

.ant-spin-dot-item {
    background: var(--clr-primary);
}

